.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
/*############################################################################*/
.floatingText {
  position: absolute;
  top: 300px;
  left: 200px;
  font-size: 30px;
  color: rgb(101, 139, 255);
  background-color: rgba(0, 47, 35, 0.8);
  padding: 25px;
  border-radius: 10px;
}
/*############################################################################*/
.navigationButtons {
  padding: 10px 10px;
  margin-top: 1px;
  background-color: #092816;
  border: 1px solid #092816;
  border-radius: 1px;
  display: flex;
  gap: 10px;
  margin-bottom: 1px;
}
.navigationButtons button{
  transition: background-color 0.8s ease;
}
/*############################################################################*/
.navigationButton {
  padding: 0px 50px;
  height: 40px;
  margin-top: 0px;
  background-color: #166938;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  gap: 1px;
  margin-bottom: 1px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.navigationButton:hover,
.navigationButton.active {
  background-color: #53ba45;
}

/*############################################################################*/
.inputContainer {
  display: flex;
  gap: 0px;
  border-radius: 10px;
}

.inputContainer label {
  height: 40px;
  display: flex;
  align-items: center;
  /*background-color: #166938;*/
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  /*border: 1px solid #ffffff;*/
  width: 140px;
  /*gap: 4px;*/
  justify-content: center;
  text-align: center;
}

.inputContainer input[type="file"] {
  max-width: none;
  width: 100%;
  white-space: nowrap;
  overflow: visible;
  padding: 10px;
  border: 1px solid #166938;
  border-radius: 10px;
  height: 40px;
}
/*############################################################################*/
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #dddddd;
}
.table th {
  background-color: #166938;
  color: #ffffff;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ffffff;
}
.table td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #ffffff;
}
.table tr:hover {
  background-color: #353535;
}
/*############################################################################*/
.pageNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageNavigation button {
  background-color: #166938;
  color: #ffffff;
  border: none;
  padding: 0px 20px;
  height: 24px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.8s ease;
}

.pageNavigation button:hover {
  background-color: #53ba45;
}

.pageNavigation button:disabled {
  background-color: #545454;
  cursor: not-allowed;
}
/*############################################################################*/
.dateFilters {
  display: flex;
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.dateFilters label {
  height: 40px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #166938;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding-left: 4px;
}

.dateFilters input {
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.dateFilters button {
  height: 40px;
  padding: 4px;
  border-radius: 10px;
  background-color: #166938;
  color: #ffffff;
  transition: background-color 0.8s ease;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.dateFilters button:hover {
  background-color: #53ba45
}

.dateFilters select {
  margin-left: 50px;
  height: 40px;
  padding: 0px;
  border-radius: 10px;
}

.dateFilters select {
  margin-left: 10px;
  height: 40px;
  padding: 2px;
  border-radius: 10px;
  background-color: #166938;
  color: #ffffff;
  width: 200px;
  border: 1px solid #ffffff;
}
/*############################################################################*/
.filterLabel {
  display: flex;
  padding: 0px 0px;
  margin-bottom: -34px;
  margin-left: 542px;
  gap: 18px;
}

.filterLabel label{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  border: 0px solid #ffffff;
  width: 202px;
  background-color: #166938;
}
/*############################################################################*/
.glow {
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 15px #ffffff;
  border-radius: 50%;
  transition: box-shadow 0.8s ease;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px #ff0000,
                0 0 10px #ff0000,
                0 0 15px #ff0000;
  }
  25% {
    box-shadow: 0 0 5px #00ff00,
                0 0 10px #00ff00,
                0 0 15px #00ff00;
  }
  50% {
    box-shadow: 0 0 5px #00fffb,
                0 0 10px #00fffb,
                0 0 15px #00fffb;
  }
  75% {
    box-shadow: 0 0 5px #9900ff,
                0 0 10px #9900ff,
                0 0 15px #9900ff;
  }
  100% {
    box-shadow: 0 0 5px #ff0000,
                0 0 10px #ff0000,
                0 0 15px #ff0000;
  }
}

.brandingContainer {
  display: flex;
  align-items: top;
  gap: 10px;
  padding-left: 20px;
}

.poweredBy {
  display: flex;
  align-items: top;
  gap: 5px;
  color: rgb(151, 151, 151);
  font-size: 12px;
  padding: 0px 20px;
}

.techLogo {
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;
}

.techLogo:hover {
  transform: scale(1.2);
}

.reactLogo {
  animation: spin 5s alternate infinite;
  padding-left: 20px;
  padding-right: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nextLogo {
  animation: /*pulse 10s alternate infinite,*/ glowPulse 10s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.jsLogo {
  animation: moveUpDown 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  padding: 0px 0px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.cssLogo {
  animation: scalePulse 2s ease-in-out infinite;
  padding: 0px 10px;
}

@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.htmlLogo {
  animation: shake 2s ease-in-out infinite;
  height: 40px;
  width: auto;
  animation: shake 2s ease-in-out infinite;
  /*margin-top: -6px;*/
  margin-left: -6px;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

/*############################################################################*/

/*############################################################################*/